<%- include('parts/header') %>



<section>
  <div class="container">
    <h1 class="text-center m-5">Car Market For Everyone</h1>

    <div class="row">
      <ul class="col-lg-10  col-12 d-flex justify-content-around flex-wrap list-unstyled">
        <li class="m-4">
          <img src="http://picsum.photos/200" alt="">
          <div style="width: 200px;">
            <p class="mt-2"><strong>2021 Chevrolet Silverado 2500HD</strong>:
              STARTING MSRP
              price: <b>$35,000</b>
            </p>
            <a href="#">Buy</a>
          </div>
        </li>
        <li class="m-4">
          <img src="http://picsum.photos/200" alt="">
          <div style="width: 200px;">
            <p class="mt-2"><strong> 2021 Chevrolet Silverado 3500HD</strong>:
              TARTING MSRP price: <b>$56,465</b>
            </p>
            <a href="#">Buy</a>
          </div>
        </li>
        <li class="m-4">
          <img src="http://picsum.photos/200" alt="">
          <div style="width: 200px;">
            <p class="mt-2"><strong> 2021 Ford F-350</strong>:
              STARTING MSRP price: <b>$35,745</b>
              </p>
            <a href="#">Buy</a>
          </div>
        </li>
        <li class="m-4">
          <img src="http://picsum.photos/200" alt="">
          <div style="width: 200px;">
            <p class="mt-2"><strong>2021 Ford F-450</strong>:

              STARTING MSRP <b>$50,410</b>
            </p>
            <a href="#">Buy</a>
          </div>
        </li>
        <li class="m-4">
          <img src="http://picsum.photos/200" alt="">
          <div style="width: 200px;">
            <p class="mt-2"><strong>2021 Ford Transit-150 Cargo</strong>
              STARTING MSRP price: <b>$35,045</b>
            </p>
            <a href="#">Buy</a>
          </div>
        </li>
        <li class="m-4">
          <img src="http://picsum.photos/200" alt="">
          <div style="width: 200px;">
            <p class="mt-2"><strong>2021 Mercedes-Benz Sprinter 3500XD</strong>:
              STARTING MSRP price: <b>$45,555</b>
            </p>
            <a href="#">Buy</a>
          </div>
        </li>

        <li class="m-4">
          <img src="http://picsum.photos/200" alt="">
          <div style="width: 200px;">
            <p class="mt-2"><strong>2021 Mercedes-Benz Sprinter 4500 </strong>:
              STARTING MSRP price: <b>$47,655</b>
            </p>
            <a href="#">Buy</a>
          </div>
        </li>
        <li class="m-4">
          <img src="http://picsum.photos/200" alt="">
          <div style="width: 200px;">
            <p class="mt-2"><strong>2021 Audi A4 allroad</strong>:
              STARTING MSRP price: <b>$44,600</b>
            </p>
            <a href="#">Buy</a>
          </div>
        </li>
        <li class="m-4">
          <img src="http://picsum.photos/200" alt="">
          <div style="width: 200px;">
            <p class="mt-2"><strong>
              2021 Audi A6</strong>:
              STARTING MSRP price: <b>$54,900</b>
            </p>
            <a href="#">Buy</a>
          </div>
        </li>


      </ul>
      <div class="col-lg-2 d-lg-block d-flex">
        <div class="bg-success rounded p-3 mt-4 text-light">
          <P>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores?
          </P>
        </div>
        <div class="bg-success rounded p-3 mt-5 text-light">
          <P>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores?
          </P>
        </div>
        <div class="bg-success rounded p-3 mt-5 text-light">
          <P>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores?
          </P>
        </div>
        <div class="bg-success rounded p-3 mt-5 text-light">
          <P>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores?
          </P>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('parts/footer') %>