<%- include('parts/header') %>

<section>
  <div class="container">
    <h1 class="text-center m-5">Online Market For All Home</h1>

    <div class="row">
      <ul class="col-lg-10  col-12 d-flex justify-content-around flex-wrap list-unstyled">
        <li class="m-4">
          <img src="http://picsum.photos/200" alt="">
          <div>
            <p class="mt-2"><strong>Fridge</strong>: Samsung</p>
            <a href="#">Buy</a>
          </div>
        </li>
        <li class="m-4">
          <img src="http://picsum.photos/200" alt="">
          <div>
            <p class="mt-2"><strong>Microvawe</strong>: Bosch</p>
            <a href="#">Buy</a>
          </div>
        </li>
        <li class="m-4">
          <img src="http://picsum.photos/200" alt="">
          <div>
            <p class="mt-2"><strong>Television</strong>: LG 5k</p>
            <a href="#">Buy</a>
          </div>
        </li>
        <li class="m-4">
          <img src="http://picsum.photos/200" alt="">
          <div>
            <p class="mt-2"><strong>Television</strong>: Roison 4k</p>
            <a href="#">Buy</a>
          </div>
        </li>
        <li class="m-4">
          <img src="http://picsum.photos/200" alt="">
          <div>
            <p class="mt-2"><strong>Dishes</strong>: Special Tools</p>
            <a href="#">Buy</a>
          </div>
        </li>
        <li class="m-4">
          <img src="http://picsum.photos/200" alt="">
          <div>
            <p class="mt-2"><strong>Fridge</strong>: Bosch EA</p>
            <a href="#">Buy</a>
          </div>
        </li>

        <li class="m-4">
          <img src="http://picsum.photos/200" alt="">
          <div>
            <p class="mt-2"><strong>Kitchen Table</strong>: Moodern Sets</p>
            <a href="#">Buy</a>
          </div>
        </li>
        <li class="m-4">
          <img src="http://picsum.photos/200" alt="">
          <div>
            <p class="mt-2"><strong>Microvawe</strong>: LG</p>
            <a href="#">Buy</a>
          </div>
        </li>
        <li class="m-4">
          <img src="http://picsum.photos/200" alt="">
          <div>
            <p class="mt-2"><strong>Fridge</strong>: Samsung</p>
            <a href="#">Buy</a>
          </div>
        </li>


      </ul>
      <div class="col-lg-2 d-lg-block d-flex">
        <div class="bg-success rounded p-3 mt-4 text-light">
          <P>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores?
          </P>
        </div>
        <div class="bg-success rounded p-3 mt-5 text-light">
          <P>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores?
          </P>
        </div>
        <div class="bg-success rounded p-3 mt-5 text-light">
          <P>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores?
          </P>
        </div>

        <div class="bg-success rounded p-3 mt-5 text-light">
          <P>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores?
          </P>
        </div>
      </div>
    </div>
  </div>
</section>


<%- include('parts/footer') %>
