<%- include('parts/header') %>



<section>
  <div class="container">
    <h1 class="text-center m-5">Brand-New Gadgets and Electronics</h1>

    <div class="row">
      <ul class="col-lg-10  col-12 d-flex justify-content-around flex-wrap list-unstyled">
        <li class="m-4">
          <img src="http://picsum.photos/200" alt="">
          <div style="width: 200px;">
            <p class="mt-2"><strong>Samsung galaxy s9 plus</strong>: Released 2018, March. 189g, 8.5mm thickness.
              Android 8.0, up to Android 10</p>
            <a href="#">Buy</a>
          </div>
        </li>
        <li class="m-4">
          <img src="http://picsum.photos/200" alt="">
          <div style="width: 200px;">
            <p class="mt-2"><strong> iPad - Apple</strong>: Apple iPad Mini 2 Retina Display Tablet 32GB, Wi-Fi, Space
              Gray</p>
            <a href="#">Buy</a>
          </div>
        </li>
        <li class="m-4">
          <img src="http://picsum.photos/200" alt="">
          <div style="width: 200px;">
            <p class="mt-2"><strong> Huawei ID</strong>: LG 5k</p>
            <a href="#">Buy</a>
          </div>
        </li>
        <li class="m-4">
          <img src="http://picsum.photos/200" alt="">
          <div style="width: 200px;">
            <p class="mt-2"><strong>Xiaomi Redmi Note 8</strong>: Released 2019, September 24 · 200g, 8.8mm thickness ·
              Android 9.0</p>
            <a href="#">Buy</a>
          </div>
        </li>
        <li class="m-4">
          <img src="http://picsum.photos/200" alt="">
          <div style="width: 200px;">
            <p class="mt-2"><strong>Apple iPhone 11 Pro Max</strong>: 8.1mm thickness. iOS 13, up to iOS 14.4.2.
              64GB/256GB/512GB storage</p>
            <a href="#">Buy</a>
          </div>
        </li>
        <li class="m-4">
          <img src="http://picsum.photos/200" alt="">
          <div style="width: 200px;">
            <p class="mt-2"><strong>iPhone 12 Pro Max</strong>: Processor: Apple A14 Bionic · RAM: - · Storage: 128 GB,
              256 GB, 512 GB · Display: 6.7 inches · Camera: 12 MP (wide)</p>
            <a href="#">Buy</a>
          </div>
        </li>

        <li class="m-4">
          <img src="http://picsum.photos/200" alt="">
          <div style="width: 200px;">
            <p class="mt-2"><strong>Samsung tablets </strong>: SAMSUNG Galaxy Tab A 10.1" 128GB Tablet, Black</p>
            <a href="#">Buy</a>
          </div>
        </li>
        <li class="m-4">
          <img src="http://picsum.photos/200" alt="">
          <div style="width: 200px;">
            <p class="mt-2"><strong>Huawei Tablet</strong>:
              2.36 GHz Quad-core (4 Core) 1.70 GHz - microSD Supported - 2 Megapixel Front Camera - 5 Megapi
              4.5 out of 5 stars 10
            </p>
            <a href="#">Buy</a>
          </div>
        </li>
        <li class="m-4">
          <img src="http://picsum.photos/200" alt="">
          <div style="width: 200px;">
            <p class="mt-2"><strong>
                BoxWave Stylus Pen for Xiaomi Redmi Note 9 Pro</strong>: [AccuPoint Active Stylus] Electronic Stylus with Ultra
                Fine Tip for Xiaomi ...
                BoxWave Stylus Pen for Xiaomi Redmi Note 9 Samsung</p>
            <a href="#">Buy</a>
          </div>
        </li>


      </ul>
      <div class="col-lg-2 d-lg-block d-flex">
        <div class="bg-success rounded p-3 mt-4 text-light">
          <P>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores?
          </P>
        </div>
        <div class="bg-success rounded p-3 mt-5 text-light">
          <P>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores?
          </P>
        </div>
        <div class="bg-success rounded p-3 mt-5 text-light">
          <P>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores?
          </P>
        </div>
      </div>
    </div>
  </div>
</section>


<%- include('parts/footer') %>