<%- include('parts/header') %>



<section>
  <div class="container">
    <h1 class="text-center m-5">New Magazines and Books</h1>

    <div class="row">
      <ul class="col-lg-10  col-12 d-flex justify-content-around flex-wrap list-unstyled">
        <li class="m-4">
          <img src="http://picsum.photos/200" alt="">
          <div style="width: 200px;">
            <p class="mt-2"><strong>Building a StoryBrand</strong> author: <b>Donald Miller</b> <br> price: <b>$5.0</b></p>
            <a href="#">Buy</a>
          </div>
        </li>
        <li class="m-4">
          <img src="http://picsum.photos/200" alt="">
          <div style="width: 200px;">
            <p class="mt-2"><strong>The Undefeated Marketing System</strong> author: <b>Phillip Stutts</b> <br> price: <b>free</b></p>
            <a href="#">Buy</a>
          </div>
        </li>
        <li class="m-4">
          <img src="http://picsum.photos/200" alt="">
          <div style="width: 200px;">
            <p class="mt-2"><strong>Way of the Wolf: Straight Line Selling</strong> author: <b>Jordan Belfort</b> <br> price: <b>free</b></p>
            <a href="#">Buy</a>
          </div>
        </li>
        <li class="m-4">
          <img src="http://picsum.photos/200" alt="">
          <div style="width: 200px;">
            <p class="mt-2"><strong>The Challenger Sale: Taking Control of the…</strong> author: <b>Matthew Dixon</b> <br> price: <b>$2.00</b></p>
            <a href="#">Buy</a>
          </div>
        </li>
        <li class="m-4">
          <img src="http://picsum.photos/200" alt="">
          <div style="width: 200px;">
            <p class="mt-2"><strong>The Magic of Thinking Big</strong> author: <b>David J. Schwartz</b> <br> price: <b>$1.49</b></p>

            <a href="#">Buy</a>
          </div>
        </li>
        <li class="m-4">
          <img src="http://picsum.photos/200" alt="">
          <div style="width: 200px;">
            <p class="mt-2"><strong>The Qualified Sales Leader</strong> author: <b>John McMahon</b> <br> price: <b>$14.49</b></p>
            <a href="#">Buy</a>
          </div>
        </li>

        <li class="m-4">
          <img src="http://picsum.photos/200" alt="">
          <div style="width: 200px;">
            <p class="mt-2"><strong>The Magic of Thinking Big</strong> author: <b>David J. Schwartz</b> <br> price: <b>$1.49</b></p>
            <a href="#">Buy</a>
          </div>
        </li>
        <li class="m-4">
          <img src="http://picsum.photos/200" alt="">
          <div style="width: 200px;">
            <p class="mt-2"><strong>To Sell Is Human</strong> author: <b>Daniel H. Pink</b> <br> price: <b>free</b></p>
            </p>
            <a href="#">Buy</a>
          </div>
        </li>
        <li class="m-4">
          <img src="http://picsum.photos/200" alt="">
          <div style="width: 200px;">
            <p class="mt-2"><strong>Fanatical Prospecting</strong> author: <b>Jeb Blount</b> <br> price: <b>$21.59</b></p>
            <a href="#">Buy</a>
          </div>
        </li>


      </ul>
      <div class="col-lg-2 d-lg-block d-flex">
        <div class="bg-success rounded p-3 mt-4 text-light">
          <P>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores?
          </P>
        </div>
        <div class="bg-success rounded p-3 mt-5 text-light">
          <P>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores?
          </P>
        </div>
        <div class="bg-success rounded p-3 mt-5 text-light">
          <P>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores?
          </P>
        </div>
      </div>
    </div>
  </div>
</section>


<%- include('parts/footer') %>