<%- include('parts/header') %>
<% var error %>


<section>
  <div class="container mt-3 text-center">
    <h1>Registration</h1>
    <div class="row">
      <div class="col-lg-6 col-12 mt-4 mx-auto">
        <% if(error) {%>
          <div class="alert alert-danger"><%= error  %> </div>
        <% } %>
        <form action="/registration" method="POST">
          <div class="form-floating mb-3">
            <input type="text" name="name" class="form-control" id="floatingInput" value="John"  autocomplete="off"
              placeholder="name">
            <label for="floatingInput">Name</label>
          </div>
          <div class="form-floating mb-3">
            <input type="email" name="email" class="form-control" id="floatingInput" value="John@mail.ru" required autocomplete="off"
              placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating">
            <input type="password" name="password" class="form-control" id="floatingPassword" value="password" required
              autocomplete="off" minlength="5" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>

          <button class="w-100 btn btn-primary mt-4">Registrate</button>
        </form>
      </div>
    </div>
  </div>
</section>

<%- include('parts/footer') %>